body {
  padding: 0;
  margin: 0;
}
main {
  margin: auto;
  width: 90%;
}
form {}
label {}
input {}
textarea {}
.btn {}

.seccion {
  margin: .5rem 0;
  background-color: #dde;
  padding: 1rem;
}
h2 {
  color: #00f;
}
.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #222;
  color: #eee;
}
.container-card {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 100%;
  margin-bottom: .3rem;
}
.card {
  border-radius: .3rem;
  display: flex;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  justify-content: space-between;
}
.card img {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  max-height: 4rem;
}
.card p {
  margin: 0;
}

.card-body {
  padding: .7rem;
  width: calc(100% - 8rem);
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
}