
<div id="appChat" class="seccion">
  <h2>Chat</h2>
  <div id="messages"></div>
  <input required type="email" name="nombreUsuario" id="nombreUsuario" placeholder="Introduzca su nombre">
  <input required type="text" name="" id="mensaje" placeholder="Cuentanos algo...">
  <button type="button" onclick="sendMessage()">Enviar</button>
</div>
